@font-face {
  font-family: 'RobotoMono';
  src: url('./fontes/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffff;
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}